@font-face {
    font-family: abril-fat-face-regular;
    src: url(./fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: mukta-mahi-extra-light;
    src: url(./fonts/MuktaMahee-ExtraLight.ttf);
}

@font-face {
    font-family: mukta-mahi-light;
    src: url(./fonts/MuktaMahee-Light.ttf);
}

@font-face {
    font-family: mukta-mahi-regular;
    src: url(./fonts/MuktaMahee-Regular.ttf);
}

@font-face {
    font-family: mukta-mahi-bold;
    src: url(./fonts/MuktaMahee-Bold.ttf);
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --off-white: #FAF9F6;
    --gray: #6c757d;
    --light-gray: #e6eaec;
    --gray-dark: #343a40;
    --primary: #65c0ba;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #fafafa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: mukta-mahi-regular, sans-serif;
    /* width: 100vw; */
}

.bolg-body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: mukta-mahi-regular, sans-serif;
    background-color: var(--light-gray);
}

/* ------------------------------------ */

/* header { */
/* height: 3rem; */
/* width: 100vw; */
/* background-image: url(./images/city-top-view.webp); */
/* filter: contrast(90%); */
/* background-color: var(--secondary); */
/* height: 100vh; */
/* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
/* } */

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--cyan);
    box-shadow: 0px 0px 5px black;
    z-index: 2;
}

.brand {
    display: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: auto;
}

/* .nav-item {
    
} */

.nav-link {
    text-decoration: none;
    padding: .5rem;
    font-weight: bold;
    color: var(--off-white);
}

/* ------------------------------------ */

main {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0; */
    padding: 0;
    position: relative;
    /* z-index: -1; */
    /* background-color: transparent; */
    /* border: 1px solid red; */
    /* margin-bottom: 1rem; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.banner-background-image {
    height: 100%;
    width: 100%;
    /* height: fit-content; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-heading {
    font-family: abril-fat-face-regular;
    color: var(--light);
    margin-bottom: 0;
    font-size: 2.5rem;
}

.banner-text {
    color: var(--gray);
    margin-top: 0;
}

.banner-text a {
    text-decoration: none;
    color: var(--light);
    border-bottom: 2px solid var(--light);
}

.banner-text a:hover {
    color: var(--gray);
    border-bottom: 2px solid var(--gray);
    transition-duration: 1s;
}

.btn {
    text-decoration: none;
    color: var(--white);
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid var(--white);
    border-radius: .5rem;
    width: 80%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    /* font-weight: bold; */
    letter-spacing: .2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btn-white-border {
    border: 2px solid var(--white);
}

.btn-white-border:hover {
    color: var(--dark);
    background-color: var(--white);
}

.btn-blue-border {
    border: 2px solid var(--blue);
    color: black;
    width: 50%;
    font-size: smaller;
}

.btn-blue-border:hover {
    color: var(--white);
    background-color: var(--blue);
}

.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background: transparent;
    /* padding: 1rem; */
    /* margin-top: 4rem; */
    /* border: 1px solid black; */
    /* display: block; */
    /* position: relative; */
}

.welcome-header {
    padding: 1rem;
}

.welcome-header img {
    width: 100%;
    margin: auto;
}

.welcome-body {
    padding: 1rem;
}

.video-tour {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--cyan);
    text-decoration: none;
    letter-spacing: .3rem;
}

.experience-once {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    text-align: center;
    background: var(--light);
    border-top: 1px solid #e0e0e0;
    /* padding: 1rem; */
    margin: 0;
}

.experience-header {
    padding: 1rem;
}

.experience-cards-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card-experience {
    width: 100%;
}

.row-col-2 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row-col-2-card {
    width: 100%;
    text-align: left;
    margin: 0;
}

.row-col-2-card img {
    width: 100%;
}

.p-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.p-all-2 {
    padding: 2rem;
    ;
}

.m-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.tour-management {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    text-align: center;
    background: transparent;
    /* border-top: 1px solid #e0e0e0; */
    /* padding: 1rem; */
    margin: 0;
}

.tour-management-header {
    padding: 1rem;
}

.slider {
    padding: 1rem;
}

.slider-image {
    width: 100%;
    margin: auto;
}

.blog-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* text-align: center; */
    background: #65c0ba;
    /* padding: 1rem; */
    margin: 0;
    margin-top: -10rem;
    padding-top: 10rem;
    z-index: -1;
}

.blog-post-header {
    /* width: 100%; */
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.blog-cards-container {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.blog-card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 1rem;
    /* padding: 1rem; */
}

.blog-card-image {
    width: 100%;
}

.blog-card-image:hover {
    cursor: pointer;
}

.card-body {
    padding: 1rem;
}

.blog-date {
    text-transform: uppercase;
}

.happy-customers {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 1rem;
    margin: 0; */
}

.happy-customers-header {
    text-align: center;
    /* padding: 1rem; */
}

.customers-cards-container {
    display: flex;
    flex-direction: column;
}

.customer-card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.customer-card-image {
    width: 70px;
    border-radius: 50%;
}

.customer-name {
    opacity: 70%;
}

.top-destinations {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-destinations-header {
    text-align: center;
    padding: 1rem;
}

.top-destinations-cards-container {
    display: flex;
    flex-direction: column;
}

.card-top-destinations {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.card-image-destination {
    width: 100%;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.col-1 {
    display: flex;
    flex-direction: column;
}

.gallery-img-container {
    width: 100%;
}

.gallery-img {
    width: 100%;
}

.blog-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 2rem; */
    /* border: 1px solid black; */
}

.blog-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    /* align-items: center; */
    /* justify-content: space-around; */
}

.blog-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-box {
    height: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    /* justify-content: space-between; */
    margin: 1rem;
    /* box-shadow: 0px 0px 5px #dee2e6; */
}

.form-control {
    width: 100%;
    height: 2rem;
    /* border: none; */
    border: 1px solid #dee2e6;
    border-radius: .3rem;
    box-shadow: 0px 0px 5px #dee2e6;
    /* margin-left: 1rem; */
    padding: .5rem;
    font-size: 1.2rem;
}

.form-text-area {
    width: 100%;
    /* height: 2rem; */
    /* border: none; */
    border: 1px solid #dee2e6;
    border-radius: .3rem;
    box-shadow: 0px 0px 5px #dee2e6;
    /* margin-left: 1rem; */
    padding: .5rem;
    font-size: 1.2rem;
}

.categories {
    padding: 1rem;
}

.categories-heading {
    color: var(--dark);
}

.categories table {
    width: 100%;
}

/* .categories table tr{
    display: flex;
    width: 100%;
} */
.categories a {
    text-decoration: none;
    color: var(--cyan);
    font-size: 1.3rem;
}

.text-right {
    text-align: right;
}

/* ------------------------------------ */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: var(--dark);
}

footer a {
    text-decoration: none;
    color: var(--gray);
}

footer a:hover {
    color: var(--white);
    transition-duration: .5s;
}

footer li {
    list-style: none;
    font-family: mukta-mahi-light;
    font-size: 1.2rem;
}

.footer-top {
    /* width: 100%; */
    border-bottom: 1px solid var(--gray);
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.footer-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}


/* ------------------------------------ */
.level-1-heading {
    font-family: abril-fat-face-regular;
    font-size: 2.5rem;
    font-weight: lighter;
}

.level-2-heading {
    font-family: abril-fat-face-regular;
    font-size: 2rem;
    font-weight: lighter;
}

.level-3-heading {
    font-family: abril-fat-face-regular;
    font-size: 1.5rem;
    font-weight: lighter;
}


.level-3-heading a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.level-3-heading a:hover {
    cursor: pointer;
    color: var(--cyan);
}

.level-3-heading-white {
    color: var(--white);
}

.gray-text {
    color: var(--gray);
    font-size: 1.1rem;
    font-weight: lighter;
}

.light-gray-text-extra-light {
    font-family: mukta-mahi-extra-light;
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: lighter;
}

.medium-gray-text {
    font-family: mukta-mahi-extra-light;
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: lighter;
}


.medium-white-text {
    font-family: mukta-mahi-extra-light;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: lighter;
}

.white-text {
    color: var(--white);
}

.card-image-sketch {
    height: 70px;
}

.bg-white {
    background-color: var(--white);
}

.blog-post-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.bg-fa {
    background-color: #fafafa;
    border-top: 1px solid #bbbaba;
}

.contact-container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    /* background-color: #d49393; */
}

.contact-left {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #dee2e6;
    border-radius: .3rem;
    box-shadow: 0px 0px 10px 10px #dee2e6;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
}

.contact-right {
    margin: auto;
    padding: 1rem;
}
.contact-right p{
    color: var(--cyan);
}

.btn-form {
    border: 2px solid var(--blue);
    color: black;
    background-color: white;
    width: 100%;
    font-size: smaller;
    padding: 1rem;
    border-radius: .5rem;
    color: var(--gray-dark);
    margin: auto;
    font-family: mukta-mahi-extra-light;
    font-size: 1.3rem;
}
.btn-form:hover {
    color: white;
    background-color: var(--blue);
    transition-duration: .5s;
    cursor: pointer;
    font-weight: bolder;
}

/* ------------------------------------- */
/*    MIN WIDTH 768px    */

@media only screen and (min-width:768px) {
    .contact-container {
        display: flex;
        flex-direction: row;
        /* width: fit-content; */
    }

    .contact-left {
        width: 60%;
    }

    .form-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .contact-right {
        width: 40%;
        /* background-color: var(--yellow); */
    }
    .btn-form {
        width: 30%;
        margin-left: 0;
    }

    /* ------------- */

    .nav-bar {
        justify-content: space-between;
    }

    .brand {
        display: block;
        margin-left: 2rem;
    }

    .nav-menu {
        margin-right: 2rem;
    }

    .btn {
        width: 30%;
    }

    .btn-blue-border {
        border: 2px solid var(--blue);
        color: black;
        width: 50%;
        font-size: smaller;
    }


    .experience-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .row-col-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .row-col-2-img {
        width: 100%;
    }

    .blog-post {
        margin-top: -20rem;
        padding-top: 20rem;
    }

    .blog-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .customers-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .top-destinations-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .footer-col {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 0rem;
    }

    footer li {
        font-size: .9rem;
    }

    .col-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .col-3 {
        display: grid;
        grid-template-columns: 2fr, 1fr;
        gap: 1rem;
    }

    .blog-post-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "left left right";
        gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .blog-left {
        /* width: 70%; */
        /* border: 1px solid black; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-area: left;
    }

    .blog-right {
        width: 70%;
        display: flex;
        flex-direction: column;
        grid-area: right;
        margin: auto;
    }

    .blog-right-card {
        display: flex;
        background-color: var(--white);
        margin: 1rem;
        /* padding: 1rem; */
    }

    .blog-right-medium-gray-text {
        font-size: .8rem;
    }

    .blog-right-level-3-heading {
        font-family: abril-fat-face-regular;
        font-size: 1rem;
        font-weight: lighter;
    }

    .blog-right-level-3-heading a {
        text-decoration: none;
        color: black;
    }

}

/* ------------------------------------- */
/*    MIN WIDTH 1024px    */

@media only screen and (min-width:1024px) {
    .experience-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-post {
        margin-top: -20rem;
        padding-top: 20rem;
    }

    .blog-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .customers-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .top-destinations-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}